* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./media/backgroundImg.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jumbotron{
    border-style:groove;
    border-color: rgba(0, 0, 0, 0.462);
}

.col-sm-3 {
    background-color: rgba(100, 171, 242, 0.642);
    padding: 2%;
    border-style:groove;
    border-radius: 0%;
    border-color: rgba(0, 0, 0, 0.462);

}

.col-sm-9 {
    background-color: rgba(100, 171, 242, 0.642);
    padding: 2%;
    border-style:groove;
    border-radius: 0%;
    border-color: rgba(0, 0, 0, 0.462);
}

#myWishlistWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wishlistDestinationInfo {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.5rem;
}

.wishlistDestination {
    width: 15rem;
    height: fit-content;
    word-wrap: break-word;
    background-color: rgba(100, 171, 242, 0.642);
    box-shadow: 8px;
    background-clip: border-box;
    border: 3px solid rgba(0, 0, 0, 0.569);
    border-radius: 0.25rem;
}

.wishlistDestinationImg,
.wishlistDestinationImg-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.wishlistDestinationImg,
.wishlistDestinationImg-top,
.wishlistDestinationImg-bottom {
    flex-shrink: 0;
    width: 100%;
}

img {
    vertical-align: middle;
    overflow-clip-margin: content-box;
}


.wishlistDestination {
    margin: "20px;";
    width: "15rem";
    height: "fit-content";
}

h4 {
    text-align: center;
}

.submit {
    width: 100%;
}

#submitWishlist {
    background-color: rgba(0, 0, 0, 0.569);
    border-color: rgba(0, 0, 0, 0.569);
}

.buttonsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav {
    position: absolute;
    bottom: 0;
}

#topLinks {
    padding: 0;
}

header {
    position: relative;
}

.footer {
    text-align: center;
    width: 100%;
    position: absolute;
    text-size-adjust: 50px;
    color: black;
    background-color: rgb(52, 58, 64);
    margin-top: 30px;
    bottom: 0;
    margin-bottom: 0;
    color: white;

}